#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header--leaderboard {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}
