#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #394053;
  color: #f7f0f5;

  padding: 1rem 0;
}

#header--title {
  margin: 0;
}

#header--notice {
  margin: 0;
}
