#leaderboard--container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #f7f0f5;
  text-align: center;
}

#leaderboard {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);

  font-size: 1rem;

  margin: 0 1rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}
