#name--popup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  align-items: center;

  background-color: #394053;
  color: #f7f0f5;

  padding: 2rem;

  z-index: 1;
}

#name--popup--buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#name--popup--button,
.button {
  border: none;
  background-color: grey;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f7f0f5;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  width: 100%;
}

#name--popup--input {
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
}

#name--popup--label {
  font-size: 1.5rem;
}
