#selection--popup {
  position: absolute;
  width: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);

  border-radius: 0 1rem 1rem 1rem;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  z-index: 1;
}

#selection--popup--title {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

#selection--popup--submit {
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

#selection--popup--select {
  font-family: Poppins, sans-serif;
}
